apiVersion: v1
kind: Service
metadata:
  name: api-service
  labels:
    app: api
    tier: backend
    component: capstone
spec:
  type: ClusterIP
  selector:
    app: api
    tier: backend
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
